// 1. Import the initial variables
@import "./utilities/initial-variables"

@import "../bulma"
@import "./highlight"

.article
  h1
    font-size: $size-1
  h2
    font-size: $size-2
  h3
    font-size: $size-3
