<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="container">
  <div class="navbar-brand">
    <a class="navbar-item title is-4">
      网道 / WangDoc.com
    </a>
  </div>
  </div>
</nav>
