<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= current_path === '/' ? '' : page_title + ' - ' %><%= site %> - 网道</title>
    <!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" -->
    <link rel="stylesheet" href="<%= relative_root_path %>assets/css/app.min.css">
  </head>
  <body>
    <% include nav %>
    <% include hero %>
<% if (current_path !== '/') { %>
  <section class="section main article">
<% } else { %>
  <section class="section main homepage">
<% } %>
    <div class="container">

<div class="columns">
  <div class="column is-8">
    <% include breadcrumb %>
    <article class="content is-medium">
      <% if (current_path !== '/') { %>
        <h1 class="title"><%= page_title %></h1>
      <% } %>
      <%= content %>
    </article>
  </div>

  <div class="column is-4">
    <aside class="menu">
    </aside>
  </div>
</div>

    </div>
  </section>
    <% include foot %>
    <% include script %>
  </body>
</html>
